<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_page_save_after">
        <observer name="blob_post_save_with_cms_page" instance="UnityGroup\Blog\Observer\PageSaveAfter" />
    </event>
    <event name="cms_page_load_after">
        <observer name="blob_post_load_with_cms_page" instance="UnityGroup\Blog\Observer\PageLoadAfter" />
    </event>
    <event name="cms_page_collection_load_after">
        <observer name="blob_post_load_with_cms_page_collection" instance="UnityGroup\Blog\Observer\PageCollectionLoadAfter" />
    </event>
</config>
